.divider{

    display:flex;

    align-items:center;

    gap:16px;

    width:100%;

}

.divider span{

    flex:1;

    height:1px;

    background:var(--border);

}

.divider p{

    color:var(--muted);

    font-size:14px;

    white-space:nowrap;

}